@mixin multiple-ellipsis($lines)  {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines; /* number of lines to show */
    -webkit-box-orient: vertical;
}