$main-color   : #7828B4;
$main-color-2 : #9013FE;


$bg-color : #F2F2F2;
$side-block-color : #EBEBEB;
$gray_dark : #D7D7D7;
$gray_light : #9B9B9B;


$lg-nav-height: 92px;
$lg-side-bar-width: 340px;
$lg-side-bar-block-width: 300px;
// $main_width: calc(100% - 300px);